@font-face {
   font-family: "Agency FB";
   src: url('../font/AgencyFB-Bold.woff') format('woff2'), url('../font/AgencyFB-Bold.woff') format('woff'), url('../font/AgencyFB-Bold.ttf') format('truetype'), url('../font/AgencyFB-Bold.svg') format('svg'), url('../font/AgencyFB-Bold.eot') format('embedded-opentype');
}
@font-face {
   font-family: "Open Sans";
   font-weight: 400;
   src: url('../font/opensans-regular-webfont.woff') format('woff2'), url('../font/opensans-regular-webfont.woff') format('woff'), url('../font/OpenSans-Regular.ttf') format('truetype'), url('../font/opensans-regular-webfont.svg') format('svg'), url('../font/opensans-regular-webfont.eot') format('embedded-opentype');
}
@font-face {
   font-family: "Open Sans";
   font-weight: 300;
   src: url('../font/opensans-light-webfont.woff') format('woff2'), url('../font/opensans-light-webfont.woff') format('woff'), url('../font/OpenSans-Light.ttf') format('truetype'), url('../font/opensans-light-webfont.svg') format('svg'), url('../font/opensans-light-webfont.eot') format('embedded-opentype');
}
@font-face {
   font-family: "Open Sans Semibold";
   src: url('../font/opensans-extrabold-webfont.woff') format('woff2'), url('../font/opensans-extrabold-webfont.woff') format('woff'), url('../font/OpenSans-ExtraBold.ttf') format('truetype'), url('../font/opensans-extrabold-webfont.svg') format('svg'), url('../font/opensans-extrabold-webfont.eot') format('embedded-opentype');
}
a {
   color: #0000FF;
   text-decoration: underline;
}
a:visited {
   color: #800080;
}
a:active {
   color: #FF0000;
}
a:hover {
   color: #0000FF;
   text-decoration: underline;
}
input:focus,
textarea:focus,
select:focus {
   outline: none;
}
.visibility-hidden {
   visibility: hidden;
}
a.style1 {
   -moz-transition: all 300ms linear;
   -webkit-transition: all 300ms linear;
   color: #039BE5;
   display: inline-block;
   position: relative;
   text-decoration: none;
   transition: all 300ms linear;
}
a.style1::after {
   -moz-transition: all 300ms linear;
   -webkit-transition: all 300ms linear;
   background: transparent;
   content: "";
   display: block;
   height: 2px;
   margin: auto;
   margin-top: 2px;
   transition: all 300ms linear;
   width: 0;
}
a.style1:hover::after {
   background: #039BE5;
   width: 100%;
}
a.style1:visited {
   color: #039BE5;
   text-decoration: none;
}
a.style1:active {
   color: #039BE5;
   text-decoration: none;
}
a.style1:hover {
   color: #039BE5;
   text-decoration: none;
}
a.style2 {
   -moz-transition: all 300ms linear;
   -webkit-transition: all 300ms linear;
   color: #FFFFFF;
   display: inline-block;
   position: relative;
   text-decoration: none;
   transition: all 300ms linear;
}
a.style2::after {
   -moz-transition: all 300ms linear;
   -webkit-transition: all 300ms linear;
   background: transparent;
   content: "";
   display: block;
   height: 2px;
   margin: auto;
   margin-top: 2px;
   transition: all 300ms linear;
   width: 0;
}
a.style2:hover::after {
   background: #FFFFFF;
   width: 100%;
}
a.style2:visited {
   color: #FFFFFF;
   text-decoration: none;
}
a.style2:active {
   color: #FFFFFF;
   text-decoration: none;
}
a.style2:hover {
   color: #FFFFFF;
   text-decoration: none;
}
a.style3 {
   -moz-transition: all 300ms linear;
   -webkit-transition: all 300ms linear;
   color: #000000;
   display: inline-block;
   position: relative;
   text-decoration: none;
   transition: all 300ms linear;
}
a.style3::after {
   -moz-transition: all 300ms linear;
   -webkit-transition: all 300ms linear;
   background: transparent;
   content: "";
   display: block;
   height: 2px;
   margin: auto;
   margin-top: 2px;
   transition: all 300ms linear;
   width: 0;
}
a.style3:hover::after {
   background: #000000;
   width: 100%;
}
a.style3:visited {
   color: #000000;
   text-decoration: none;
}
a.style3:active {
   color: #000000;
   text-decoration: none;
}
a.style3:hover {
   color: #000000;
   text-decoration: none;
}
.knop1_1 {
   background-clip: padding-box;
   background-color: #039BE5;
   border: 1px solid #039BE5;
   border-radius: 40px;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-size: 17px;
   font-weight: 300;
   text-decoration: none;
}
.knop1_2 {
   background-clip: padding-box;
   background-color: #11B1FF;
   border: 1px solid #11B1FF;
   border-radius: 40px;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-size: 17px;
   font-weight: 300;
   text-decoration: none;
}
